<%- layout('layouts/boiler') %>

<section class="h-screen flex items-center justify-center">
    <div class="w-full max-w-md bg-white rounded-lg shadow dark:bg-gray-800">
        <div class="p-6 space-y-4 sm:p-8">
            <!-- Centered Image instead of h1 -->
            <div class="flex justify-center">
                <img src="https://codersclutch.com/wp-content/uploads/2024/05/cropped-coders-logo.png" alt="Login Image" class="max-w-xs">
            </div>
            <form class="space-y-4" action="/login" method="POST" novalidate>
                <div>
                    <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your username</label>
                    <input type="text" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white" placeholder="John Doe" required>
                </div>
                <div>
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                    <input type="password" name="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white" placeholder="••••••••" required>
                </div>
                <div class="flex items-center justify-between">
                    <div class="flex items-start">
                        <input id="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-blue-600 dark:bg-gray-700 dark:border-gray-600">
                        <label for="remember" class="ml-3 text-sm text-gray-500 dark:text-gray-300">Remember me</label>
                    </div>
                </div>
                <button type="submit" class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700">
                    Login
                </button>
                <p class="text-sm text-gray-500 dark:text-gray-400">
                    Don’t have an account yet? <a href="/api/auth/register" class="font-medium text-blue-700 hover:underline dark:text-blue-500">Sign up</a>
                </p>
            </form>
        </div>
    </div>
</section>
